@model IEnumerable<EYEDYAS_TEST.Models.PRODUCT_TB>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Chart", "Chart") |
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PTITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIMAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STOCK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PTITLE)
        </td>
        <td>
            <img src="@Url.Content(item.PIMAGE)" alt="No Image Found" width="80" height="80" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOCK)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.PID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.PID })
        </td>
    </tr>
}

</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
            var returnMsg = '@ViewBag.ReturnMsg'
            if (returnMsg != '') {
                alert(returnMsg);
                return false;
            }
        });
</script>